h1 {
    color: lightseagreen;
}

body {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol,
ul {
    list-style-position: inside;
    text-align: left;
}

li {
    padding: 3px;
}

.description,
.ingredients,
.steps {
    background-color: antiquewhite;
    padding: 4px;
    margin: 8px;
}

.description {
    font-style: italic;

}

.description h2 {
    font-style: normal;
}

.container {
    text-align: center;
    background-color: aliceblue;
    max-width: 800px;
    margin-inline: auto;
    padding: 8px;
}

.recipes-container a {
    display: block;
    color: black;
}